
body {
    /*
    verifier l'écriture de la police
    */

    font-family: cursive;
    margin: auto;


}
.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-brand {
    margin-left: 40px;
}


#fondmenu {
    height: 50px;
    margin-top: 50px;
    margin-left: 25%;
}

#menu {
    display: table;
    padding: 0;
    margin-top: 0px;
}

#menu li {
    display: table-cell;
    padding: 3px;
    width: 180px;
}

#menu li a {
    text-decoration: none;
    color: grey;
    letter-spacing: 1px;
    font-size: 2vh;
}
header {
    text-align: center;
    margin-bottom: 100px;
    background-color: #f9f9f9;
    height: 300px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black .5px;
}

.header h1 {
    color: black;
    letter-spacing: 10px;
    font-size: 7vh;
    font-weight: bold;

}

.header p {
    color: grey;
    margin-top: 0;
    font-weight: bold;
    font-size: 2vh;
}

/* ========== SECTION 1 ========= */

#section1 {
    margin-top: 100px;
}

#section1 h1 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 3vh;
}

#section1 h1 span {
    color: #1f89ca;
}
.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.services1et2 {
    display: flex;
}

.services2et3 {
    display: flex;
}

.services span {
    color: black;
}



/* Toutes les images sont libres de droit et dispo sur Burst */
.img1 {
    background-image: url(../images/office-woman-hands-on-report2.jpg);
    background-position: center;
    background-size: cover;
    border: solid black 1px;
    margin: 3px;
    width:30vh;
    height:30vh;

}

.img2 {
    background-image: url(../images/mac-computer-on-desk.jpg);
    background-position: center;
    background-size: cover;
    border: solid black 1px;
    margin: 3px;
    width:30vh;
    height:30vh;
}

.img3 {
    background-image: url(../images/office-team-business-meeting.jpg);
    background-position: center;
    background-size: cover;
    border: solid black 1px;
    margin: 3px;
    width:30vh;
    height:30vh;
}

.hoover{
    background-color: white;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    height: 30vh;
    width: 30vh;
}
.hoover h3 {
    text-align: center;
    color: black;
    letter-spacing: 0.5rem;
    margin: 0;
    font-size: 3vh;
    padding-top: 40%;
    font-weight: bold;
}

.hoover:hover{
    opacity: 0.5;
}

/* ========== About Us ========= */


.about {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    height: 25%;
    width: auto;
    margin-top: 50px;
    margin-bottom: 40px
}

.img-about {
    background-image: url(../images/image1.jpg);
    background-position: center;
    background-size: cover;
    border: solid black 1.5px;
    width: 90vh;
    height: 50vh;
    margin-left: 5px;
}

.txt-about {
    width: 100vh;
    height: auto;
    text-align: justify;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.txt-about h1 {
    margin-top: -4px;
    font-size: 3vh;
}

.txt-about p {
    font-size: 2vh;
}

.myButton {
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#1f89ca;
    font-family:Arial;
    font-size:2vh;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin-top: 20px;
}

.myButton:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}

.myButton:active {
    position:relative;
    top:1px;
}

/* ========== Témoignages ========= */

.testi {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.imgTesti {
    background-image: url(../images/business-woman-flow-chart.jpg);
    height: 20vh;
    width: 20vh;
    background-size: cover;
    border-radius: 300px;
}

.titleTesti h1 {
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 80px;
    font-size: 3vh;
}

.titleTesti h1 span {
    color: #1f89ca;
}

.block1 {
    width: 30vh;
    margin-top: 100px;
    margin-right: 10vh;
    text-align: center;
    font-size: 2vh;
}

.block2 {
    width: 30vh;
    margin-right: 10vh;
    text-align: center;
    font-size: 2vh;
}

.block3 {
    width: 30vh;
    margin-right: 10vh;
    margin-top: 100px;
    text-align: center;
    font-size: 2vh;
}

.block4 {
    width: 30vh;
    text-align: center;
    font-size: 2vh;
}

/* ========== Background Image 1 ========= */

.back-img {
    background-image: url(../images/image1.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;
}

.bloc-opac {
    width: 80vh;
    background-color: rgba(0,0,0,0.5);
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.bloc-opac h1 {
    text-align: center;
    letter-spacing: 1rem;
    color: white;
    font-size: 3.2vh;
}

.myButton2 {
    font-family: "Neutra Bold";
    -moz-box-shadow:inset 0px 0px 0px -50px #ffffff;
    -webkit-box-shadow:inset 0px 0px 0px -50px #ffffff;
    background-color:transparent;
    border:2px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
    letter-spacing: 3px;
    padding:9px 50px;
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    width: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

.myButton2:hover {
    background-color: #e9e9e9;
    color: black;
}

/* ========== Blog Home Page ========= */

.blogHomePage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    background-color: #e3dfdb;
    width: 100%;
}

.marginArticles {
    margin: 3vh;
    background-color: white;
}



.txtArticleHomePage h1 {
    text-align: center;
    font-size: 3vh;
}

.txtArticleHomePage p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5vh;
}

.txtArticleHomePage a {
    margin-left: 30%;
    margin-bottom: 15px
}

.txtArticleHomePage {
    width: 40vh;
}

.imgArticle1HomePage {
    background-image: url(../images/business-woman-flow-chart.jpg);
    background-position: center;
    background-size: cover;
    width: 40vh;
    height: 20vh;
}
.imgArticle2HomePage {
    background-image: url(../images/working-at-night.jpg);
    background-position: center;
    background-size: cover;
    width: 40vh;
    height: 20vh;
}

.imgArticle3HomePage {
    background-image: url(../images/coding-on-laptop.jpg);
    background-position: center;
    background-size: cover;
    width: 40vh;
    height: 20vh;
}

/* ========== NOMMER PLUS TARD ========= */
.back-img2 {
    background-image: url(../images/image1.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-bottom: 50px;
}

.bloc-opac2 {
    width: 65%;
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 71% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 71% 100%, 0% 100%);
}

.txtBackImg2  p {
    text-align: center;
    letter-spacing: 1rem;
    color: black;
    font-size: 3vh;
}

.txtBackImg2 {
    margin-top: 150px;
    margin-right: 200px;
}

/* ========== PARTENAIRES ========= */

.titlePartenaires h1 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 3vh;
    margin-bottom: 50px;
}

.partenaire1 {
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.contentPartenaire {
    width: 70%;
    text-align: justify;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 2vh;

}
.imgPartenaire1 {
    background-image: url(../images/moma.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 30vh;
}

.imgPartenaire2 {
    background-image: url(../images/moma2.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 30vh;
}
.imgPartenaire3 {
    background-image: url(../images/moma.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 30vh;
}
/* ========== FOOTER ========= */

footer {
    height: 50vh;
    background-color: #e3dfdb;
    text-align: center;
    font-size: 2vh;

}

.contentFooter {
    padding-top: 60px;
}



/* ================================================================ PAGE A PROPOS ================================================================= */


.aProposHeader {
    background-image: url(../images/image1.jpg);
    background-size: cover;
    background-position: bottom;
    height: 500px;
    background-attachment: fixed;
    margin-bottom: 0px;
}

.aProposHeader p {
    color: #fff;
}

.presentation {
    display: flex;
    justify-content: center;
    background-color: #e3dfdb;
    padding-left: 20px;
}

.txtPresentation {
    width: 900px;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
}

.txtPresentation p{
    font-size: 1rem;
    margin-left: 50px;
    margin-right: 50px;
    font-family: cursive;
}

.txtPresentation h1 {
    margin-top: 30px;
    margin-left: 50px;
    font-family: cursive;
}

.img1Presentation {
    background-image: url(../images/mac-computer-on-desk.jpg);
    height: 250px;
    width: 500px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    background-position : bottom;
    background-size: cover;
}

.img2Presentation {
    background-image: url(../images/working-at-night.jpg);
    height: 250px;
    width: 500px;
    margin: 20px;
    background-position : center;
    background-size: cover;

}

/* ========= EQUIPE ========== */
.equipe {
    display: flex;
    justify-content: center;
    background-color: #e3dfdb;
    padding-left: 20px;
}

.imgEquipe {
    background-image: url(../images/business-team-meeting-boardroom.jpg);
    height: 550px;
    width: 900px;
    background-position : center;
    background-size: cover;
    margin: 20px;
}

.txtEquipe {
    width: 500px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: cursive;
}

.txtEquipe p{
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}


.txtEquipe h2{
    font-size: 2.3rem
}

.joinUs {
    font-family: cursive;
    -moz-box-shadow:inset 0px 0px 0px -50px #ffffff;
    -webkit-box-shadow:inset 0px 0px 0px -50px #ffffff;
    background-color:transparent;
    border:3px solid black;
    border-radius: 5px;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-size:1.5rem;
    letter-spacing: 3px;
    padding:9px 50px;
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
}

.joinUs:hover {
    background-color: #e9e9e9;
    color: black;
}

/* ========= ADRESSE ========== */

.adresse {
    display: flex;
    justify-content: center;
    background-color: #e3dfdb;
}

.imgAdresse {
    background-image: url(../images/a-phone-on-a-blue-background-with-contact-us.jpg);
    height: 550px;
    width: 900px;
    background-position : center;
    background-size: cover;
    margin-top: 20px;
    margin-left: 20px;
}

.txtAdresse {
    width: 500px;
    background-color: #fff;
    text-align: center;
    font-family: cursive;
    margin: 20px 20px 0 20px;
}

.txtAdresse p{
    font-size: 1.5rem;
}

.txtAdresse a{
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}
.txtAdresse h2{
    font-size: 2.3rem
}


/* ========== IMAGES CERCLE COULEUR ========= */
.imgColor {
    display: flex;
    justify-content: center;
    background-color: #e3dfdb;
    padding: 30px;
}

.imgVerte {
    margin-right: 150px;
}

.imgJaune {
    margin-left: 150px;
}

.imgColor p {
    font-family: cursive;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.footerApropos {
    background-color: white;
}


/* ============ PAGE EN CONSTRUCTION =========*/

.enConstruction {
    text-align: center;
    margin-top: 25vh;
    margin-left: 10vh;
    margin-right: 10vh;
    border: solid black 2px;
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e3dfdb;
    border-radius: 10px;
}

.blocEnConstruction {
    display: flex;
    justify-content: center;

}
/* ========== RESPONSIVE ========= */


/*
Le responsive n'est encore terminé
*/

@media  (max-width: 782px) {
    html {
        font-family: sans-serif;

    }
    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .services1et2 {
        display: flex;
    }

    .services2et3 {
        display: flex;
    }

    .img1 {
        background-position: center;
        background-size: cover;
        border: solid white 1px;
        margin: 0px;
        width:25vh;
        height:25vh;
    }

    .img2 {
        background-position: center;
        background-size: cover;
        border: solid white 1px;
        margin: 0px;
        width:25vh;
        height:25vh;
    }

    .img3 {
        background-position: center;
        background-size: cover;
        border: solid white 1px;
        margin: 0px;
        width:25vh;
        height:25vh;
    }

    .hoover{
        background-color: white;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        height: 25vh;
        width: 25vh;
    }

    .hoover h3 {
        text-align: center;
        color: black;
        letter-spacing: 0.5rem;
        margin: 0;
        font-size: 3vh;
        padding-top: 40%;
        font-weight: bold;
    }

    /*=========== ABOUT ========= */

    .about {
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: #f9f9f9;
        height: 25%;
        width: auto;
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .img-about {
        width: 50vh;
        height: 30vh;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .txt-about {
        width: 50vh;
        height: auto;
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
    }

    .txt-about h1 {
        margin-top: -4px;
        font-size: 2vh;
    }

    .txt-about p {
        font-size: 1.5vh;
    }

    /* =========== AVIS ========= */
    .testi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgTesti {
        height: 80px;
        width: 80px;
        background-size: cover;
        border-radius: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .titleTesti h1 {
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 80px;
        font-size: 3vh;
    }

    .titleTesti h1 span {
        color: #1f89ca;
    }

    .block1 {
        width: 90%;
        margin-top: 0px;
        margin-right: 0px;
        text-align: center;
        font-size: 2vh;
    }

    .block2 {
        width: 90%;
        margin-right: 0px;
        text-align: center;
        font-size: 2vh;
    }

    .block3 {
        width: 90%;
        margin-right: 0px;
        margin-top: 0px;
        text-align: center;
        font-size: 2vh;
    }

    .block4 {
        width: 90%;
        text-align: center;
        font-size: 2vh;
    }

    /* ========== Blog Home Page ========= */

    .blogHomePage {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        background-color: #e3dfdb;
    }

    .marginArticles {
        margin: 20px;
        background-color: white;
    }

    .imgArticle1HomePage {
        width: 50vh;
        height: 20vh;
    }

    .txtArticleHomePage {
        width: 50vh;
    }


    .imgArticle2HomePage {
        width: 50vh;
        height: 20vh;
    }


    .imgArticle3HomePage {
        width: 50vh;
        height: 20vh;
    }


    .imgArticle4HomePage {
        width: 50vh;
        height: 20vh;
    }

    /* ========= NAVBAR ======== */
    .navbar {
        flex-direction: column;
    }

    .navbar-brand {
        margin: 0px;
        text-align: center;
    }

    #fondmenu {
        height: 50px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    #menu {
        display: table;
        padding: 0;
        margin-top: 0px;
        margin: 0;
    }

    #menu li {
        display: table-cell;
        padding: 0px;
        margin: 0px;
        width: 180px;
    }

    #menu li a {
        text-decoration: none;
        color: grey;
        letter-spacing: 1px;
        font-size: 1.5vh;
    }

    /*====== BLOC OPAC 2 ========*/

    .txtBackImg2  p {
        text-align: center;
        letter-spacing: .3rem;
        color: black;
        font-size: 2.8vh;
    }

    .txtBackImg2 {
        margin-top: 150px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .bloc-opac2 {
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        height: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .contentPartenaire {
        width: 70%;
        text-align: justify;
        margin-left: 2.5%;
        margin-right: 0PX;
        font-size: 1.4vh;
    }

    .contentPartenaire h1 {
        font-size: 2vh;
    }

    .imgPartenaire1 {
        background-position: center;
        background-size: cover;
        height: 11vh;
        width: 11vh;
    }

    .imgPartenaire2 {
        background-position: center;
        background-size: cover;
        height: 11vh;
        width: 11vh;
        margin-left: 2.5%;
    }
    .imgPartenaire3 {
        background-position: center;
        background-size: cover;
        height: 11vh;
        width: 11vh;
    }

    /* ========================== PAGE A PROPOS ================================*/

    .presentation {
        display: inherit;
        justify-content: center;
        background-color: #e3dfdb;
        padding: 0;
        margin: 0;
    }

    .txtPresentation {
        background-color: #fff;
        margin-top: 50px;
        margin-bottom: 20px;
        width: 100%;
    }

    .txtPresentation p{
        font-size: .8rem;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
    }

    .txtPresentation h1 {
        margin-top: 30px;
        margin-left: 10px;
        font-size: 1.5rem;
    }

    .img1Presentation {
        background-image: url(../images/mac-computer-on-desk.jpg);
        height: 250px;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 50px;
        background-position : bottom;
        background-size: cover;
    }

    .img2Presentation {
        background-image: url(../images/working-at-night.jpg);
        height: 250px;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 10px;
        background-position : center;
        background-size: cover;
    }
    /* ========= EQUIPE ========== */
    .equipe {
        display: inherit;
        justify-content: center;
        background-color: #e3dfdb;
        padding-left: 0;
    }

    .imgEquipe {
        background-image: url(../images/business-team-meeting-boardroom.jpg);
        height: 550px;
        width: 100%;
        background-position : center;
        background-size: cover;
        margin: 0;
    }

    .txtEquipe {
        width: 100%;
        background-color: #fff;
        margin-top:20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .txtEquipe p{
        font-size: 1rem;
        margin-left: 5px;
        margin-right: 0;
    }

    .txtEquipe h2{
        font-size: 2rem
    }

    .joinUs {
        font-family: cursive;
        -moz-box-shadow:inset 0px 0px 0px -50px #ffffff;
        -webkit-box-shadow:inset 0px 0px 0px -50px #ffffff;
        background-color:transparent;
        border:3px solid black;
        border-radius: 5px;
        display:inline-block;
        cursor:pointer;
        color:black;
        font-size:.7rem;
        letter-spacing: 3px;
        padding:9px 50px;
        text-decoration:none;
        transition: all 0.3s ease-in-out;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .joinUs:hover {
        background-color: #e9e9e9;
        color: black;
    }

    /* ========= ADRESSE ========== */

    .adresse {
        display: inherit;
        justify-content: center;
        background-color: #e3dfdb;
    }

    .imgAdresse {
        height: 500px;
        width: 100%;
        background-position : left;
        background-size: cover;
        margin-top: 20px;
        margin-left: 0;
    }

    .txtAdresse {
        width: 100%;
        background-color: #fff;
        text-align: center;
        font-family: cursive;
        margin: 0;
    }

    .txtAdresse p{
        font-size: 1rem;
    }

    .txtAdresse a{
        font-size: 1rem;
        color: black;
        text-decoration: none;
    }
    .txtAdresse h2{
        font-size: 2rem
    }


    /* ========== IMAGES CERCLE COULEUR ========= */
    .imgColor {
        display: inherit;
        justify-content: center;
        text-align: center;
        background-color: #e3dfdb;
        padding: 30px;
    }

    .imgVerte {
        margin-right: 0;
    }

    .imgJaune {
        margin-left: 0;
    }

    .imgColor p {
        font-size: 1rem;
        text-align: inherit;
        font-weight: bold;

    }

    .footerApropos {
        background-color: white;
    }


}


